.container {
  width: 1380px;
  margin: 0 auto;
}

.section-top {
  padding: 80px 0 45px;
  text-align: center;
  position: relative;
  z-index: 1;

  &:before {
    @include pseudo-block($top: 80px, $left: 0);
    background: image-url('tmp/vector-img-1.png');
    width: 213px;
    height: 323px;
    z-index: -1;
  }

  &:after {
    @include pseudo-block($bottom: 60px, $right: 0);
    background: image-url('tmp/vector-img-2.png');
    width: 301px;
    height: 327px;
    z-index: -1;
  }

  h1 {
    font-size: 80px;
    line-height: 1;
    font-family: $bold;
    margin: 0 0 25px;
    text-transform: uppercase;
  }

  .sub-title {
    font-size: 48px;
    color: #2288e1;
    text-transform: uppercase;
    margin-bottom: 45px;

    span {
      display: inline-block;
      padding: 0 20px;
      z-index: 1;
      position: relative;

      &:before {
        @include pseudo-block($top: 50%, $left: 0, $right: 0);
        border-bottom: 21px solid #d0e7fe;
        z-index: -1;
        @include translateY(-50%);
      }
    }
  }

  .b-action {
    border: 7px solid #02a3c6;
    padding: 110px 146px 136px;
    position: relative;
    margin-bottom: 30px;
    background: #fff;
    z-index: 1;

    .bg-price {
      font-size: 302px;
      color: #d0e7fe;
      position: absolute;
      top: 50%;
      left: 0;
      font-family: bold;
      right: 0;
      z-index: -2;
      @include translateY(-50%);
    }

    ul {
      margin: 0;
      padding: 0 0 30px;
      border-bottom: 4px dashed #959595;
      list-style: none;
      font-family: $bold;
      text-transform: uppercase;

      li {
        display: inline-block;
        font-size: 36px;
        margin-right: 40px;
        position: relative;

        &:before {
          @include pseudo-block($bottom: -50px, $left: 50%);
          @include oneline-sprite-box($icons, point);
          @include translateX(-50%);
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  h3 {
    margin: 0;
    font-size: 48px;
    text-transform: uppercase;
    color: #e80d30;
    font-family: $bold;
  }
}

h2 {
  color: #2288e1;
  margin: 0 0 25px;
  font-size: 48px;
  font-family: $bold;
}

.section-faq {
  padding: 40px 0;
  background: image-url('bg/bg-1.jpg');
  @include background-size(cover);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: $medium;

    li {
      margin-bottom: 15px;

      &.active {

        .text {
          position: relative;
          opacity: 1;
          visibility: visible;
          @include translateX(0);
        }

        .title:before {
          @include transform(translateY(-50%) rotate(180deg));
        }
      }
    }

    .text {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: 0;
      right: 0;
      @include translateX(-150px);
      color: #2288e1;
      padding-top: 20px;
      padding-left: 30px;
      max-width: 1070px;
      @include transition(all .4s);
    }

    .title {
      font-size: 30px;
      display: inline-block;
      padding-right: 30px;
      color: #333333;
      position: relative;
      text-decoration: none;

      &:before {
        @include pseudo-block($top: 50%, $right: 0);
        @include oneline-sprite-box($icons, arr);
        @include translateY(-50%);
      }
    }
  }
}

.section-reviews {
  padding: 75px 0 115px;

  .container {
    position: relative;

    &:before {
      @include pseudo-block($top: 0, $right: 0);
      width: 382px;
      height: 371px;
      background: image-url('tmp/vector-img-3.png');
    }
  }

  .slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    @include translateY(-50%);
    @include oneline-sprite-box($icons, arr-ri);
    border: none;
    @include text-hide();
  }

  .slick-prev {
    left: -30px;
  }

  .slick-next {
    right: -30px;
    @include transform(translateY(-50%) rotate(180deg));
  }

  h2 {
    margin: 0 0 50px;
  }

  .slick-slider {
    width: 860px;
    font-size: 22px;
    position: relative;

    &:before {
      @include pseudo-block($top: 0, $left: 0);
      @include oneline-sprite-box($icons, quo);
    }
  }

  .text {
    margin-bottom: 30px;
  }

  .author {
    @include clearfix();

    .img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
    }

    .info {
      overflow: hidden;
      font-size: 18px;
      color: #797979;
      display: inline-block;
      vertical-align: middle;

      strong {
        display: block;
        color: #000000;
        font-size: 30px;
        font-family: $bold;
      }
    }
  }
}

.section-form {
  background: image-url('bg/bg-2.jpg');
  padding: 90px 0 180px;
  @include background-size(cover);
  color: #fff;
  text-align: center;

  .form {
    width: 515px;
    border: 7px solid #fff;
    display: inline-block;
    padding: 60px 70px;
    font-size: 18px;
  }

  .title {
    display: block;
    font-size: 33px;
    text-transform: uppercase;
    font-family: $bold;
    line-height: 1;
    margin-bottom: 12px;
  }

  p {
    margin: 0;
  }

  .sub-title {
    color: #0092e6;
    display: inline-block;
    padding: 5px 30px;
    font-size: 30px;
    text-transform: uppercase;
    background: #d0e7fe;
    font-family: $bold;
    margin-bottom: 40px;
  }

  .form-type-text {
    margin-bottom: 35px;
  }

  .form-text {
    padding: 7px 0;
    color: #fff;
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    width: 100%;
    @include input-placeholder(#fff)
  }
}

.btn-wrap.style-a {
  text-align: left;
  margin-top: 60px;

  .btn {
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
    padding: 12px 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    @include box-shadow(5px 5px 0 0px #fff);
    @include transition(all .3s);

    &:hover {
      background: #fff;
      color: #0092e6;
      @include box-shadow(0 0 0 0px #fff);
    }
  }
}