@font-face {
  font-family: 'bold';
  src: url('../fonts/fontfabric_-_mullerbold-webfont.woff') format('woff'),
  url('../fonts/fontfabric_-_mullerbold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'regular';
  src: url('../fonts/fontfabric_-_mullerregular-webfont.woff') format('woff'),
  url('../fonts/fontfabric_-_mullerregular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'medium';
  src: url('../fonts/fontfabric_-_mullermedium-webfont.woff') format('woff'),
  url('../fonts/fontfabric_-_mullermedium-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}